* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
}


.hind-siliguri {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}